<ion-content color="secondary"> 
<ion-icon (click)="list()" name="list" style="font-size: 200%;"></ion-icon>
  <div style="text-align: center; padding-top: 5px; padding-bottom: 2px;">
  <ion-icon name="contact" style="font-size: 500%;"></ion-icon>
  </div>
  <div style="text-align: center; padding-top: 0px; padding-bottom: 0px;">
        <ion-label style="font-size: larger;">ROJALI</ion-label>
      </div>
  <div style="text-align: center;padding-top: 8px; padding-bottom: 10px;"> 
    <ion-text style="text-align: center;">Assalamualaikum, saya bang jali</ion-text>
    <div style="text-align: center;padding-top: 8px; padding-bottom: 10px;"> 
      <ion-text style="text-align: center;">Saya Menjual Makanan</ion-text>
      <div style="text-align: center;padding-top: 8px; padding-bottom: 10px;"> 
        <ion-text style="text-align: center;">Buka Dari jam 8 pagi sampai 12 malam</ion-text>
  <div style="text-align: center;padding-top: 8px; padding-bottom: 10px;"> 
    <ion-button (click)="maps()" style="text-align: center;" full>Lihat Lokasi</ion-button> 
  </div>
  <ion-item (click)="tambahjualan()">
    <ion-icon class="rapi" name="add-circle" color="danger"></ion-icon>
      Tambah Menu
    </ion-item>
  
  <ion-item (click)="daftarjualan()">
    <ion-icon class="rapi" name="cart" color="primary"></ion-icon>
      Daftar Menu
  </ion-item>