<ion-content color="secondary" padding>
  <ion-icon name="home" style="font-size: 300%;"></ion-icon>
    <ion-label style="font-size: larger;">Tambah Menu</ion-label>
  <p><ion-text style="floating;">MENU 1</ion-text></p>
    <div style="text-align: center; padding-top: 30px; padding-bottom: 10px;"><ion-icon name="image" style="font-size: 300%;"></ion-icon>
    </div>
    <ion-item style="padding-bottom: 20px;">
      <ion-label position="floating">Nama Menu</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item style="padding-bottom: 20px;">
      <ion-label position="floating">Deskripsi</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-icon name="add-circle"></ion-icon> <ion-text> Tambah Menu Lain </ion-text>
    <div style="text-align: center;padding-top: 20px; padding-bottom: 10px;"> 
      <ion-button style="text-align: center;">Simpan</ion-button> </div>
      </ion-content>
