<ion-content color="primary" padding>
  <div style="text-align: center; padding-top: 100px; padding-bottom: 10px;">
    <img src="assets/dagangq.svg" style="text-align: center;padding-bottom: 20px;" width="50%" height="40%"/> </div>
     <ion-label style="padding-left: 100px;">DAGANG Q</ion-label> 
<div style="text-align: center;padding-top: 20px; padding-bottom: 10px;"> <ion-button style="text-align: center;">Masuk</ion-button> </div>
<div style="text-align: center;padding-top: 20px; padding-bottom: 10px;"> <ion-button style="text-align: center;">Daftar</ion-button> </div>