<ion-content color="secondary" padding>
  <div style="text-align: center; padding-top: 100px; padding-bottom: 10px;">
    <img src="assets/dagangq.png" style="text-align: center;padding-bottom: 5px;" width="50%" height="40%"/> </div>
     <div style="text-align: center; padding-top: px; padding-bottom: 10px; position: relative;">
<div style="text-align: center;padding-top: 10px; padding-bottom: 10px;"> <ion-button style="text-align: center;">Masuk</ion-button> </div>
<div style="text-align: center;padding-top: 10px; padding-bottom: 10px;"> <ion-button style="text-align: center;">Daftar</ion-button> </div>
<u><ion-label>Masuk Sebagai Pembeli</ion-label></u>