<ion-content color="primary" padding>
    <div style="text-align: center; padding-top: 100px; padding-bottom: 10px;">
      <ion-label style="font-size: larger;">DAGANG Q</ion-label>
    </div>
      <ion-item style="padding-bottom: 20px;">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item style="padding-bottom: 20px;">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
  
      <ion-button style="float: right;">MASUK</ion-button>
  </ion-content>