<ion-content color="secondary" padding>
    <div style="text-align: center; padding-top: 20px; padding-bottom: 10px;">
      <ion-label style="font-size: larger;">Akun</ion-label>
    </div>
       <ion-label>Email</ion-label>
       <ion-item style="padding-bottom: 20px;">
       <ion-input type="text"></ion-input>
    </ion-item>
    <ion-label>Kata Sandi</ion-label>
    <ion-item style="padding-bottom: 20px;">
       <ion-input type="password"></ion-input>
    </ion-item>
    <ion-label>No. Hp</ion-label>
       <ion-item style="padding-bottom: 20px;">
       <ion-input type="text"></ion-input>
    </ion-item>
    <div style="text-align: center; padding-top: 20px; padding-bottom: 10px;">
      <ion-button color="secondary" style="text-align: center;">Simpan</ion-button></div>
      </ion-content>