<ion-content color="primary" padding>
  <div style="text-align: center; padding-top: 100px; padding-bottom: 10px;">
    <ion-label style="font-size: larger;">DAGANG Q</ion-label>
  </div>
    <ion-item style="padding-bottom: 20px;">
      <ion-label position="floating">Nama</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item style="padding-bottom: 20px;">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item style="padding-bottom: 20px;">
      <ion-label position="floating">Kata Sandi</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item style="padding-bottom: 20px;">
      <ion-label position="floating">Konfirmasi Kata Sandi</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item style="padding-bottom: 20px;">
      <ion-label position="floating">No. Hp</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Laki-Laki</ion-label>
      <ion-checkbox color="primary" checked="true"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Perempuan</ion-label>
      <ion-checkbox color="primary" checked="true"></ion-checkbox>
    </ion-item>

    <div style="text-align: center;padding-top: 20px; padding-bottom: 10px;"> <ion-button style="text-align: center;">Daftar</ion-button> </div>
</ion-content>
