<ion-toolbar color="primary"> <ion-icon name="home" style="font-size: 300%;"></ion-icon></ion-toolbar>
<ion-content color="secondary" padding>
    
    <div style="text-align: center; padding-top: 100px; padding-bottom: 10px;">
      <ion-label style="font-size: larger;">DAGANG Q</ion-label>
    </div>
    <div style="text-align: center;padding-top: 20px; padding-bottom: 10px;"> 
      <ion-button color="light" style="text-align: center; padding-right: 40px;">Hidup</ion-button> <ion-button color="light" style="text-align: center;">Mati</ion-button></div>
      
        <div style="text-align: center;padding-top: 20px; padding-bottom: 10px;"> 
          <ion-button style="text-align: center;" color="secondary">Simpan</ion-button> </div>
        </ion-content>