<ion-content color="primary" padding>
  <div style="text-align: center; padding-top: 20px; padding-bottom: 10px;">
  <ion-icon name="image"></ion-icon>
</div>
    <ion-item style="padding-bottom: 20px;">
    <ion-label position="floating">Nama Kedai</ion-label>
  <ion-input type="text"></ion-input>
  </ion-item>
  <ion-item style="padding-bottom: 20px;">
    <ion-label position="floating">Deskripsi Kedai</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>
  <div style="text-align: center;padding-top: 20px; padding-bottom: 10px;">
    <ion-button style="text-align: center;">Tambah Menu</ion-button></div>
    <div style="text-align: center; padding-top: 20px; padding-bottom: 10px;">
      <ion-button style="text-align: center;">Simpan</ion-button></div>
    </ion-content>