<ion-content color="secondary" padding>
  <div style="text-align: center; padding-top: 30px; padding-bottom: 10px; position: relative;">
    <img src="/assets/dagangq.png" width="50%"/> 
	</div>
    <div style="text-align: center; padding-top: px; padding-bottom: 10px; position: relative;">
       <ion-label style="font-size: larger; color: white;">DAGANG Q</ion-label>
	   </div>
<div (click)="formLogin()" style="text-align: center;padding-top: 12px; padding-bottom: 10px;">
 <ion-button style="text-align: center;">Masuk</ion-button> 
 </div>
<div (click)="formDaftar()" style="text-align: center;padding-top: 12px; padding-bottom: 10px;">
 <ion-button style="text-align: center;">Daftar</ion-button> 
 </div>
 <div (click)="masukPembeli()" style="text-align: center; padding-top: 10px; padding-bottom: 5px;">
	<ion-label style="font-size: larger; color: white;"><u>Masuk Sebagai Pembeli</u></ion-label>
	  </div>

  
  </ion-content>